body {
    background-image: url('123.jpg');
    background-size: 100%;
}

h1 {
    text-align: center;
    font-weight: bold;
}

label, h1, h2 {
    color: black;
}

input,select{
    padding: 10px;
    margin: 4px;
    border: 1px;
    border-radius: 10px;
}

/* input[type="text"],input[type="email"],input[type="tel"] {
    width: 100%;
} */

input[type="submit"] {
    background-color: aqua;
}

.submitCenter{
    text-align: center;
}
